// src/assets/styles/base/_reset.scss
@use 'variables' as *;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $black;
}

/* Scrollbar Vertical */
::-webkit-scrollbar {
    width: 7px;
    /* Ancho de la scrollbar vertical */
}

::-webkit-scrollbar-track {
    background: transparent;
    /* Color de la pista de la scrollbar */
    border-radius: 10px;
    /* Bordes redondeados */
}

::-webkit-scrollbar-thumb {
    background: $secondary-color;
    /* Color de la manija */
    border-radius: 10px;
    border: none;
    /* Borde blanco alrededor de la manija */
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Color cuando el puntero pasa sobre la manija */
}