@use '../base/variables' as *;
@use '../base/fonts' as *;

.users {

    &__container {
        @include container;
    }

    &__title {
        font-size: 40px;
        font-family: 'Krub-Bold';
        text-transform: uppercase;
        text-align: center;
        color: $white;

        @media (min-width: 992px) {
            font-size: 80px;
        }

        &.subtitle {
            font-family: 'Krub-Regular';
            font-size: 20px;
            text-transform: none;
            color: $secondary-color;
            letter-spacing: 4px;

            @media (min-width: 992px) {
                font-size: 30px;
            }
        }
    }

    &__swiper {
        padding: 0 0 40px;
        overflow: hidden;

        @media (min-width: 992px) {
            max-width: 1366px;
            padding: 0 116px 120px;
            margin: 0 auto;
        }

        &--controls {
            position: relative;
            display: flex;
            align-items: center;
            height: 50px;
            width: 190px;
            margin: 30px auto 0;
        }

        &--prev {
            left: 0;
        }

        &--next {
            right: 0;
        }
    }

    &__profile {
        display: flex;
        justify-content: center;
        align-items: center;

        & img {
            width: 180px;
            height: 180px;
        }
    }

    &__name {
        font-family: 'Krub-Bold';
        color: $white;
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 260px;
        margin: 0 auto;

    }

    &__testimony {
        font-family: 'Krub-SemiBold';
        color: $white ;
        font-size: 12px;
        padding: 10px;
        position: relative;
        text-align: center;

        & p {
            line-height: 20px;
            letter-spacing: 1.5px;
            text-wrap: balance;
        }

        &--quote {
            width: 12px;
            height: 12px;
            position: absolute;
            top: 0;
            left: 0;

            &.type-02 {
                right: 0;
                bottom: 0;
                top: auto;
                left: auto;
            }
        }
    }
}