@use '../base/variables' as *;
@use '../base/fonts' as *;

.video {
    position: relative;

    &__container {
        @include container;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 80px 32px;

        @media (min-width: 992px) {
            padding: 120px 116px;
        }

        & img {
            width: 100%;
            transition: all 0.3s ease;

            &:hover {
                transform: scale(1.02);
                filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
                cursor: pointer;
            }
        }

        &--decorator {
            display: none;
            flex-direction: column;
            align-items: center;
            gap: 40px;
            width: fit-content;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);

            @media (min-width: 992px) {
                display: flex;
            }

            &.type-02 {
                left: auto;
                right: 0;
            }
        }
    }

    &__text {
        font-family: 'Krub-SemiBold';
        color: $white;
        font-size: 16px;
        width: fit-content;
        transform: rotateZ(270deg);
        text-align: right;
        text-transform: uppercase;

        &.type-02 {
            text-align: left;
        }
    }

    &__icon {
        & img {
            width: 20px;
        }
    }
}